body {
  background-color: #211c84;
}
.header {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(164, 151, 151);
  padding: 20px;
}

.icon {
  width: 50%;

  gap: 20px;
  display: flex;
  align-items: center;
}
.icon img {
  width: 10%;
  border-radius: 50%;
}
.about {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}
.about a {
  text-decoration: none;
  color: #19193d;
}
/* #menu-icon {
  display: none; 
}*/

.hero {
  display: flex;
  justify-content: space-around;
  background-color: #211c84;
  /* border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px; */
  box-shadow: 2px 0px 0px rgb(164, 151, 151);
}

.hero img {
  width: 100%;
  height: 350px;
  border-radius: 15px;
  /* border-bottom-left-radius: 15px; */

  margin-top: 5px;
  padding-bottom: 20px;
}
.hero p {
  color: white;
  line-height: 1.5rem;
  position: relative;
  right: 150px;
  text-align: center;
}
.about-rono {
  margin-top: 80px;
}
.cta-1 {
  margin-top: 50px;
  position: relative;
  right: 50px;
  width: 160px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid black;
  background-color: rgb(224, 139, 27);
}
.cta-1:hover {
  color: white;
  transform: scale(1.5);
  background-color: blue;
}
.cta-2 {
  margin-top: 50px;
  position: relative;
  right: 50px;
  width: 160px;
  padding: 11px;
  border-radius: 30px;
  border: 1px solid black;
  background-color: rgb(224, 139, 27);
  white-space: nowrap;
}
.cta-2:hover {
  color: white;
  transform: scale(1.5);
  background-color: blue;
}
.container {
  border: 5px solid rgb(224, 139, 27);
  padding-bottom: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.hh {
  text-align: center;
  color: #ee9612;
  font-weight: bold;
}
.case {
  border-radius: 3px;
  width: 300px;
  height: 200px;
  margin: auto;
  box-shadow: 2px 2px 8px black;
  display: block;
}

.about-me {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  color: white;
  gap: 10px;
  padding: 20px solid brown;
}
.div1 {
  background-color: #3a409b;
  border-radius: 6px;
  padding: 8px;
}
.div2 {
  background-color: #3a409b;
  border-radius: 6px;
  padding: 8px;
}
.div3 {
  background-color: #3a409b;
  border-radius: 6px;
  padding: 8px;
}
header nav {
  position: fixed;
  inset: 0;
  background-color: rgba(38, 192, 38, 0.9);
  display: none;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
header nav a {
  color: white;
  text-decoration: none;
}
#open-button {
  display: none;
}
#close-button {
  display: none;
}
.menu-icon {
  display: none;
}
.close-icon {
  display: none;
}
.experience {
  background-color: aqua;
  display: flex;
}
.legal-s {
  color: white;

  justify-items: center;
}
.community {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 100px;
}
.more {
  padding: 5px;
  border-radius: 10px;
  background-color: #ee9612;
  border: none;
  margin: auto;
  display: block;
  position: relative;
  bottom: 5px;
}
.cycle {
  background-color: #3a409b;
  border-radius: 6px;
  padding-bottom: 10px;
}
.cycle h2,
h3 {
  white-space: nowrap;
}

@media (max-width: 670px) {
  .about {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: rgba(225, 230, 234, 0.6);
    top: 30px;
    right: 10px;
    width: 150px;
    height: auto;
  }
  .opened-nav {
    display: flex;
    animation: slide-in-left 0.3s ease-in-out forwards;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;

    width: 30px;
  }
  .close-icon {
    display: block;
    width: 20%;
    height: 20px;
    position: absolute;
    top: 1px;
    right: 10px;
  }
}
